/*GLOBAL*/

/*google blue: #3367d6*/

body !h1 {
  background-color: #f5f5f5;
  font-family: 'Roboto', sans-serif;
}

.material-icons !#search-icon {
  font-size: 16px;
  vertical-align: bottom;
}

/*HEADER*/

.jumbotron-fluid {
  padding-top: 0;
  background-color: #fff;
  background-image: url(../img/hero-image.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
}

.display-4 {
  font-size: 1.5rem;
  font-weight: 250;
  line-height: 1.2;
}



.btn-subscribe{
  background-color: #3367d6;
  padding: 12px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 200;
  font-size: 11px;
}
  /*NAV*/
  .navbar {
    justify-content: flex-start;
  }

  #search-icon{
    float: right;
  }

  .navbar-toggler{
    border: 0;
  }

  .logo {
    width: 200px;
    height: auto;
    margin: 5px;
  }

/*BODY*/

  /*ARTICLES*/

  .card {
    margin-bottom: 1em;
    box-shadow: 0 0 10px 0 rgba(0,0,0,.10);
  }

  .card-img-top {
    background-color: #cfd8dd;
    display: flex;
  }

  .card-img-left {
    float: left;
    width: 50%;
    padding-right: 20px;
    display: none;
  }

  .card-body{

  }

  /*RESOURCES*/

  /*MARKETER TOOLS*/

/*FOOTER*/

footer {
  background-color: #3367d6;
  color: #fff;
}

/*MEDIA QUERIES*/

@media screen and (min-width:768px) and (max-width: 990px) {

  .jumbotron-fluid {
    background-color: none;
    background-image: none;
  }

  .card-img-left {
    display: none;
  }

  .lead, .btn-subscribe {
    display: none;
  }
}

@media screen and (max-width: 767px) {

  .card {
    height: 100%;
  }

  .jumbotron-fluid {
    background-color: none;
    background-image: none;
  }

  .lead, .btn-subscribe {
    display: none;
  }

  .card-img-left {
    display: flex;
  }

  .card-img-top {
    display: none;
  }
}
