/*GLOBAL*/

/*google blue: #3367d6*/

body !h1 {
  background-color: #f5f5f5;
  font-family: 'Roboto', sans-serif;
}

/*HEADER*/

.jumbotron-fluid {
  padding-top: 0;
  background-color: #fff;
}

.display-4 {
  font-size: 1.5rem;
  font-weight: 250;
  line-height: 1.2;
}

.lead, .btn-subscribe {
  display: none;
}

.btn-subscribe{
  background-color: #3367d6;
  padding: 12px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 200;
  font-size: 11px;
}
  /*NAV*/
  .navbar {
    justify-content: flex-start;
  }

  .navbar-toggler{
    border: 0;
  }

  .logo {
    width: 200px;
    height: auto;
    margin: 5px;
  }

/*BODY*/

  /*ARTICLES*/

  .card {
    height: 200%;
    margin-bottom: 3em;
  }

  .card-img-top {
    background-color: #cfd8dd;
  }

  /*.large-article1 {
    background-image: url('../img/tablet.jpg');
    background-size: cover;
    height: 100%;
  }

  .large-article2 {
    background-image: url('../img/present.jpg');
    background-size: cover;
    height: 100%;
  }*/

  /*RESOURCES*/

  /*MARKETER TOOLS*/

/*FOOTER*/


@media screen and (min-width: 768px){
  .card {
    height: 100%;
  }

  .lead, .btn-subscribe{
    display: block;
  }
}
